body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #ccc;
}

.pulse {
  height: 100px;
  width: 100px;
  background: rgba(0, 162, 255, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 162, 255, 1);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(0, 162, 255, 0);
  }
}
